

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 20px;
}


.container {
    text-align: left;
    width: 100%;
    max-width: 1024px;
    margin: auto;
}


h1 {
    font-size: 42px;
    margin-bottom: 1em;
}

a {
    text-decoration: none;
    color: rgba(50, 50, 50, 0.9);
}

.home {
font-size: 1.25rem;
text-align: center;
font-weight: bolder;
color: white;
display: block;
width: 100px;
margin: 35px 0;
padding: 10px 15px;
background: rgba(95, 207, 128, 1);
border-radius: 3px;
border: 1px solid rgba(85, 182, 113, 1);
}

.not-found-p,
.error-p {
font-size: 1.1em;
font-weight: bolder;
}

.not-found-stack {
text-align: left;
}

.not-found-stack pre {
white-space: pre-wrap;
word-wrap: break-word;
}